<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-input formControlName="email" label="E-mail:" type="email" placeholder="Digite seu e-mail"></ion-input>
    <div *ngIf="email?.invalid && email?.touched" class="error-message">
      E-mail inválido ou obrigatório!
    </div>
  </ion-col>
  <ion-col></ion-col>  
</ion-row>

<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-input formControlName="nome" label="Nome:" placeholder="Digite seu nome"></ion-input>
    <div *ngIf="nome?.invalid && nome?.touched" class="error-message">
      Nome obrigatório!
    </div>
  </ion-col>
  <ion-col></ion-col>  
</ion-row>

<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-input formControlName="cpf" label="CPF:" placeholder="Digite seu cpf"></ion-input>
    <div *ngIf="cpf?.invalid && cpf?.touched" class="error-message">
      CPF inválido ou obrigatório!
    </div>
  </ion-col>
  <ion-col></ion-col>  
</ion-row>

<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-input formControlName="celular" label="Celular:" placeholder="Digite seu celular"></ion-input>
    <div *ngIf="celular?.invalid && celular?.touched" class="error-message">
      Celular inválido ou obrigatório!
    </div>
  </ion-col>
  <ion-col></ion-col>  
</ion-row>

<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-input formControlName="senha" label="Senha:" placeholder="Digite sua senha" type="password"></ion-input>
    <div *ngIf="senha?.invalid && senha?.touched" class="error-message">
      Senha deve ter no mínimo 6 caracteres!
    </div>
  </ion-col>
  <ion-col></ion-col>  
</ion-row>

<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-input formControlName="confirmarSenha" label="Confirmar Senha:" placeholder="Confirme sua senha" type="password"></ion-input>
    <div *ngIf="confirmarSenha?.invalid && confirmarSenha?.touched" class="error-message">
      Confirmação de senha obrigatória!
    </div>
  </ion-col>
  <ion-col></ion-col>  
</ion-row>
