<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
  <ion-button routerLink="/carrinho" slot="end">
    <ion-icon name="cart"></ion-icon>
    Carrinho
  </ion-button>

</ion-header>

<ion-content>
  
  <!-- Campo de pesquisa -->
  <ion-item>
    <ion-label position="floating">Buscar Produto</ion-label>
    <ion-input [(ngModel)]="searchTerm" placeholder="Digite o nome do produto"></ion-input>
  </ion-item>

  <!-- Botão para realizar a busca -->
  <ion-button expand="full" (click)="listarProdutos(searchTerm)">Buscar</ion-button>

  <!-- Exibição dos produtos encontrados -->
  <ion-list *ngIf="produtos.length > 0">
    <ion-item *ngFor="let produto of produtos">
      <!-- Miniatura clicável do produto -->
      <ion-thumbnail slot="start">
        <img [src]="produto.thumbnail" (click)="obterDetalhesProduto(produto.id)" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ produto.title }}</h2>
        <p>{{ produto.price | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mensagem caso não haja produtos -->
  <div *ngIf="produtos.length === 0">
    <p>Nenhum produto encontrado.</p>
  </div>
</ion-content>
