<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col><ion-input label="Usuário:" placeholder="Digite seu E-mail"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-input label="Senha:" placeholder="Digite sua senha"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button shape="round" routerLink="/pag-inicial">logar</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
