<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-button shape="round" routerLink="/pag-login">login</ion-button>
      <ion-button shape="round" routerLink="/pag-cadastro">cadastar</ion-button>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.thumbnail" alt="Imagem do produto">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>Preço: {{ product.price | currency: 'BRL' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
